name: Deploy to Production

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy using ssh
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 22
        script: |
          # Переходим в папку проекта (УКАЖИТЕ ПРАВИЛЬНЫЙ ПУТЬ)
          cd /var/www/newyear.sport.mos.ru 
          
          # Обновляем код
          git pull
          
          # Устанавливаем зависимости (на случай если они изменились)
          npm install
          
          # Собираем проект
          npm run build
